# Start the keystore2 service.
# Keystore 2.0 changes its working directory to the first positional
# command line option, i.e., /data/misc/keystore, where it stores its
# database.
# Keystore shall run as user keystore and groups keystore, readproc, log,
# system, and drmrpc. The legacy passthrough Keymaster HAL needs the system
# group to read the TrustZone applications from the firmware partition and the
# drmrpc group to access /dev/qseecom.
#
# See system/core/init/README.md for information on the init.rc language.

service keystore2 /system/bin/keystore2 /data/misc/keystore
    class early_hal
    user keystore
    group keystore readproc log system drmrpc
    task_profiles ProcessCapacityHigh
